body{
    margin: 0;
    background-color: #131314;
    padding-bottom: 40px;
}

header{
    position:fixed ;
    background-color: #000;
    z-index: 1000;
}
.header-container{
    display: flex;
    background: #000;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    /* background-image: url(); */
}

.header-wrap{
    display: flex;
}

.danhmuc{
    display: flex;
    align-items: center;
    gap: 20px;

}

.logo{
    width: 15%;
    margin: 6px 0 ;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: #9b9b9b;
    font-size: 16px;
    font-family: "SFProDisplay", Arial, sans-serif;
}

a:hover{
    color: orange ;
}

.chucnang{
    display: flex;
    align-items: center;
    gap: 20px;
}

.muagoi{
    background-color: orange;
    border: none;
    color: #fff;
    padding: 10px 20px ;
    width: 120px;
    border-radius: 10px;
}

.dangnhap{
    position: relative;
    background-color: #000;
    border: none;
    color: #fff;
    padding: 10px 20px ;
    width: 120px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;

}

.dangnhap::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: orange;
    width: 0;
    height: 38px;
    transition: width 0.8s ease;
    z-index: -1;
}

.dangnhap:hover::after{
    width: 120px;
}

/*  main  */
main{
    color: white;
    width: 100%;
    height: 100%;
}

.quangcao{
    display: flex;
    justify-content: center;
    padding-top: 62px;
}

.quangcao img{
    width: 70%;
    border-radius: 10px;
}

.container{
    margin: auto;
    height: 100%;
    width: 70%;
    background-color: black;
    padding: 0 14px 20px;
    margin-top: 10px;
    margin-bottom: 70px;
}

.container img:nth-child(1){
    border-radius: 4px;
}

.banner{
    width: 100%;
    height: 540px;
    /* object-fit: cover; */
}

.qc{
    width: 98%;
    margin-top: 10px;
    border-radius: 10px;
}

.theloai{
    cursor: pointer;
}

.tentheloai {
    margin: 20px;
    font-size: 25px;
}

.danhsach {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.phim {
    width: 19%;
    transition: all 0.1s ease;
}

.phim :hover{
    transform-origin: bottom;
    transform: scale(1.02,1.04);
}

.phim img {
    width: 100%;
    height: 286px;
}

.wrap-img{
    position: relative;
}

.trailer{
    display: none;
    width: 600px;
    height: 400px;
}
#img-btn{
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: orange;
    border-radius: 3px;
    border: none;
    padding: 10px 20px;
}
/* footer */

footer{
    width: 70%;
    margin: auto;
}

.hotro{
    display: flex;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #f8f8f8;
    padding: 30px 0 ;
    gap: 20px;
}

.hotro-tp img{
    width: 70%;
}

.hotro-tp:nth-child(1){
    width: 20%;
}
.hotro-tp + .hotro-tp{
    display: flex;
    width: 20%;
}

.hotro-title{
    color: #c3c1c1;
    font-weight: 600;
    padding-bottom: 10px;
}

.hotro_tp a{
    display: block;
    padding: 6px 0px;
}

.hotro_tp:nth-child(5){
    margin-top: 30px;
}

/*  thong itn  */
.thongtin{
    padding-top: 20px;
}

.thongtin p {
    color: #c8c8c8;
    margin: 0;
}

.thongtin p:nth-child(4){
    margin-top: 20px;
}

.hidden{
    display: none;
}
/* responsive */
@media (min-width:768px)and(max-width:1023px){
    .hidden{
        display: block;
    }
    .header-container{
        display: none;
    }
}
