h3{
    color: orange;
}
#title{
    background-color: aqua;
}
.bg{
    background-color: blue;
}
p{
    color: red;
}
/* a:link{
    color: red ;
} */

.box1{
    background-color: red;
}

.box2{
    background-color: blue;
    /* truyền một giá trị = giá trị đó  */
    /* truyền hai giá trị : 1(trên dưới ) , 2 (trái phải ) */
    /* truyền 4 giá trị : trên phải dưới trái  */
    /* margin: 50px 100px 30px 20px ; */
    width: 50%;
    /* margin : auto là căn khối ra giữa   */
    margin: 50px auto;
}

.box3{
    background-color: green;
}